# dotenv environment variable files
.env*

# Mac files
.DS_Store

# Drafts files
_drafts
drafts/drafts.zip
urls.txt
urls-unsorted.txt
urls-sorted.txt
urls-sorted-markdown.txt

.bin
!*.secure
.DS_Store.secure

node_modules

public/*.html

test.json
test.md
vale/styles/ory
# custom html pages in public
!recipe-generator.html

_site