{% block sidebar %}
    <nav class="flex flex-row md:flex-col justify-evenly md:justify-start md:pr-20">
        <a class="hidden md:block" href="{{ '/index' | url }}"><img class="w-32 h-18 pb-12" src="/img/logo.svg" alt="vinckr"></a>
        <div ><a href="{{ '/index' | url }}"><button>home</button></a></div> 
        <div ><a href="{{ '/about' | url }}"><button>about</button></a></div> 
        <div ><a href="{{ '/blog' | url }}"><button>blog</button></a></div> 
        <div ><a href="{{ '/links' | url }}"><button>links</button></a></div> 
        <div ><a href="{{ '/music' | url }}"><button>music</button></a></div> 
    </nav>
{% endblock %}
