---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
  <url>
    <loc>https://vinckr.com{{ item.url }}</loc>
    {%- if item.date %}
    <lastmod>{{ item.date.toISOString() }}</lastmod>
    {%- endif %}
  </url>
{%- endfor %}
</urlset>
