
html {
  font-size: 1.25em;
  font-family: system-ui;
  --code-color: #302b5f;
  --link-color: #0091e8;
}

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
  max-width: 70ch;
  padding: 3em 1em;
  line-height: 1.75;
  margin: auto;
}

h1 {
  font-size: 2.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 1em;
}

a {
  background-color: transparent;
  cursor: pointer;
  color: var(--link-color);
}

/* content */

.header {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  align-items: center;
}

.nav li {
  display: inline-block;
  margin-right: 1rem;
}

.footer {
  padding: 1rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 512px;
}

pre {
  background: var(--code-color);
}

code {
  background: var(--code-color);
  padding: .1rem 0 .2rem;
  border-radius: .2rem;
}

@media print {
  /* print styles go here */
  body > *:not(article) {
    display: none;
  }
}
