html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #dedede;
  background-repeat: repeat;
  background-color: black;
  font-family: arial, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1 {
  font-size: 2.25rem;
  margin: 1rem 0 1rem 1rem;
  line-height: 1.1;
}

a {
  background-color: transparent;
  cursor: pointer;
  color: #0091e8;
  -webkit-text-decoration-skip: objects;
}

/* content */

.header {
  display: grid;
  background-color: #000000;
  grid-template-columns: 0.1fr 1fr;
  align-items: center;
}

.content {
  display: block;
  background-color: #000000;
  padding: 1rem;
  max-width: 960px;
  margin: 0 auto;
}

.nav {
  list-style-type: none;
  color: #000000;
}

.nav li {
  display: inline-block;
  margin-right: 1rem;
}

.footer {
  display: block;
  background-color: #000000;
  padding: 1rem;
  max-width: 960px;
  margin: 0 auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
