{% block footer %}
    <footer class="flex justify-end items-center pr-32">
        <span class="mr-4 prose dark:prose-invert">All Rites Reversed Ⓚ {{ year }} by {{ author }}
        </span>
        <img src="/img/nekojiru.gif" alt="Nekojiru"></footer>
    {% endblock %}