{% block sidebar %}
    <nav class="flex flex-row md:flex-col justify-evenly md:justify-start md:pr-20 prose dark:prose-invert" aria-label="Primary">
        <div>
            <a class="cs-btn" href="{{ '/' | url }}">home</a>
        </div>
        <div>
            <a class="cs-btn" href="{{ '/music/' | url }}">music</a>
        </div>
        <div>
            <a class="cs-btn" href="{{ '/blog/' | url }}">blog</a>
        </div>
        <div>
            <a class="cs-btn" href="{{ '/feed/' | url }}">feed</a>
        </div>
        <div>
            <a class="cs-btn" href="{{ '/links/' | url }}">links</a>
        </div>
    </nav>
{% endblock %}
