---
title: vinckr lists
year: 2024
author: vinckr
--- 

{% include "../header.njk" %}
{% block content %}
  <body class="dark:bg-[#111010]">
    <div class="max-w-4xl mb-40 flex flex-col md:flex-row mx-4 mt-8 md:mt-20 lg:mt-32 lg:mx-auto">
      {% include "../sidebar.njk" %}
      <main class="flex-auto min-w-0 mt-6 md:mt-0 flex flex-col md:px-0">
        <h1 class="prose text-4xl dark:prose-invert font-extrabold">
          {{ title }}
        </h1>
        <div class="prose prose-zinc md:prose-base lg:prose-lg dark:prose-invert">
          <p>
            I don't fully endorse, believe in, or live by these quotes. I think they are worthy to collect and share with you. Some
            are statements made by famous people, others were found in random places on the internet. Attribution added where I am
            somewhat certain, let me know if something is wrong.
          </p>
          <button onclick="displayRandomItem()">Random Quote Button</button>
          <div id="randomQuoteContainer"></div>
          <details>
            <summary>Click to expand list of all quotes</summary>
            <ul>
              {% for item in quotes %}
                <figure>
                  <blockquote>
                    <p>{{ item.quote }}</p>
                  </blockquote>
                  <figcaption>-
                    <a href="{{ item.url }}">{{ item.author }}</a>
                  </figcaption>
                </figure>
                <hr>
                {% endfor %}
              </details>
            </main>
          </div>
          <script>
            function displayRandomItem() {
              var data = [{% for item in quotes %}{
                    "url": "{{ item.url | escape }}",
                    "author": "{{ item.author | escape }}",
                    "quote": "{{ item.quote | escape }}"
                  }
                  {% if not loop.last %},{% endif %}{% endfor %}];
              var randomIndex = Math.floor(Math.random() * data.length);
              var randomItem = data[randomIndex];
              document.getElementById('randomQuoteContainer').innerHTML = `
            <figure>
              <blockquote>
                <p>${
                randomItem.quote
              }</p>
              </blockquote>
              <figcaption>-
                <a href="${
                randomItem.url
              }">${
                randomItem.author
              }</a>
              </figcaption>
              `;
            }
          </script>
        </body>
        {% include "../footer.njk" %}
      </html>
    {% endblock %}