{{define "Body" -}}
<!DOCTYPE html>

<article>
<h3>Log</h3>
<ul>
{{ range .Pagematter.Log }}
    <li><a href="./{{ . }}.html">{{ . }}</a></li>
{{end}}
</ul>

<h3>Cheatssheet</h3>
<ul>
{{ range .Pagematter.Cheatssheet }}
    <li><a href="./{{ . }}.html">{{ . }}</a></li>
{{end}}
</ul>

<h3>Other</h3>
<ul>
{{ range .Pagematter.Other }}
    <li><a href="./{{ . }}.html">{{ . }}</a></li>
{{end}}
</ul>
    {{ .Body }}
</article>

{{end}}
