{{define "Header" -}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .Pagematter.PageTitle}} · {{ .Author}}</title>

    <link rel="stylesheet" href="style.css">

    <meta name="description" content="vinckr personal blog and website. links and resources for developers and everyone else interested in tech and open source.">

    <meta property="og:title" content="vinckr" >
    <meta property="og:description" content="vinckr personal website." >
    <meta property="og:image" content="img/logo.svg" >
    <meta property="og:image:alt" content="vinckr personal website.">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website" >
    <meta property="og:url" content="https://vinckr.com" >
    <link rel="canonical" href="https://vinckr.com" >
    <meta name="twitter:card" content="vinckr personal website.">

    <link rel="icon" href="./favicon.ico">
    <link rel="shortcut icon" href="./img/icon.png">
    <link rel="apple-touch-icon" href="./img/apple-touch-icon-180x180.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#000000">   
  
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="106">
    <meta property="og:site_name" content="vinckr">
</head>
<body>
    <div class="header">
            <a class="logo" href="./index.html"><img src="./img/logo.svg" alt="vinckr"></a>
            <div class="nav">
            <li><button class="metal linear"><a href="./index.html">blog</a></button></li>
            <li><button class="metal linear"><a href="links.html">links</a></button></li>
            <li><button class="metal linear"><a href="music.html">music</a></button></li>
            <li><button class="metal linear"><a href="about.html">about</a></button></li>
        </div>
    </div>
{{end}}
