@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

nav button {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 100%;
  border-width: 1px;
  border-radius: 0.375rem;
}

nav button:hover {
  background-color: rgb(0, 252, 105);
  color: black;
}

@media print {
  body > *:not(article) {
    display: none;
  }
}
