@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

nav button {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 100%;
  border-width: 1px;
  border-radius: 0.375rem;
}

nav button:hover {
  background-color: #5c8d4f;
  color: black;
}

main button {
  color: white;
  background: #5c8d4f;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: 1px solid #9ac056;
  border-radius: 0.375rem;
}

main button:hover {
  background: #3a6547;
}
@media print {
  body > *:not(article) {
    display: none;
  }
}
